.clothing-card {
    position: relative;
    display: flex;
    flex-direction: column;
}

.item-text {
    margin: 1em 0;
}

.item-price.on-sale {
    color: red;
}

.special {
    position: absolute;
    top: 0;
    left: 16px;
    padding: 0.01em 8px;
}