.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.header-title {
    font-size: 24px;
    font-weight: normal;
    margin: 1em 0;
}

.header-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 0;
    margin: 1em 0;
}

.menu-item {
    font-size: 24px;
    margin-left: 16px !important;
}

.small-header {
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 16px;
}

.small-header .header-title {
    letter-spacing: 4px;

}

.small-header .fa-bars {
    font-size: 24px;
}

@media screen and (max-width: 1000px) {
    .small-header {
        display: flex;
    }
}