.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.header-title {
    font-size: 24px;
    font-weight: normal;
    margin: 1em 0;
}

.header-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 0;
    margin: 1em 0;
}

.menu-item {
    font-size: 24px;
    margin-left: 16px !important;
}